<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px 12px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<h1>User List</h1>
<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th th:each="header : ${tableData[0]}" th:text="${header}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${tableData.subList(1, tableData.size())}">
        <td th:each="cell : ${row}" th:text="${cell}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
