<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringLearningApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-learning" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.gucardev.springlearning.SpringLearningApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>